.content-page > .content {
    margin-top: 100px;
}
body.fixed-left .side-menu.left {
    margin-top: 64px;
}
.notification-list .nav-link {
    padding: 0 10px;
}
.ticket .card .card-header-container{
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(15 31 62 / 15%);
    font-weight: 600;
}

.ticket .card-body-containe .row div{
    font-size: 11px;
}

.ticket .card-question-answer .card-secondary{
    background-color: #434650;
}

.ticket .card-question-answer .card-header .name{
    font-size: 15px;
}

.ticket .card-question-answer .card-header i{
    font-size: 15px;
}

.ticket .card-question-answer .card-body{
    color: #757575;
}

.ticket .card-question-answer .card-footer{
    background-color: #FFFFFF;
    color: #757575;
}
