<template>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>name</th>
            <th>total</th>
            <th>operation</th>
        </tr>
        </thead>
        <tbody>
        @foreach($assets as $item)
        <tr>
            <td><img src="{{asset('theme/user/assets/icon/'.$item->logo.'.png')}}"
                     width="40" height="40">
                <div>
                    <span>{{ $item->name }}</span>
                </div>
            </td>
            <td>
                <p>0 {{ strtoupper($item->unit) }}</p>
                <small>0</small>
            </td>
            <td>
                <button type="button"
                        class="btn btn-success mr-1 mb-1 receive"
                        data-type="{{ $item->unit }}">Receive
                </button>
                <button type="button"
                        class="btn btn-danger mr-1 mb-1">send
                </button>
            </td>
        </tr>
        @endforeach
        {{--               <tr>
            <td><img src="{{asset('theme/user/assets/icon/Ctr.png')}}"
                     width="40" height="40">
                <div>
                    <span>CoinTread</span>
                    <small>$12312</small>
                    <small>12312$</small>
                </div>

            </td>
            <td><p>0 CTR</p>
                <small>$12312</small>
                <small>12312$</small>
            </td>
            <td>
                <p>0 CTR</p>
                <small>$12312</small>
                <small>12312$</small>
            </td>
            <td>
                <p>0 CTR</p>
                <small>$12312</small>
                <small>12312$</small>
            </td>
            <td>
                <button type="button"
                        class="btn btn-success mr-1 mb-1">deposit</button>
                <button type="button"
                        class="btn btn-danger mr-1 mb-1">withdraw</button>
            </td>
        </tr>
        <tr>
            <td><img src="{{asset('theme/user/assets/icon/btt.svg')}}"
                     width="40" height="40">
                <div>
                    <span>BitTorrent</span>
                    <small>$12312</small>
                    <small>12312$</small>
                </div>

            </td>
            <td><p>0 BTT</p>
                <small>$12312</small>
                <small>12312$</small>
            </td>
            <td>
                <p>0 BTT</p>
                <small>$12312</small>
                <small>12312$</small>
            </td>
            <td>
                <p>0 BTT</p>
                <small>$12312</small>
                <small>12312$</small>
            </td>
            <td>
                <button type="button"
                        class="btn btn-success mr-1 mb-1">deposit</button>
                <button type="button"
                        class="btn btn-danger mr-1 mb-1">withdraw</button>
            </td>
        </tr>--}}
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "ListAssetComponent"
    }
</script>

<style scoped>

</style>
